.spot-details-house {
    /* border: 3px solid green; */
    margin: 20px 80px;
    font-family: 'Montserrat', sans-serif;
    color: #010466;
}

.spot-name-place > h1 {
    font-size: 35px;
    font-weight: 500;
}
.spot-name-place > h1,
.spot-name-place > p {
    font-family: 'MedievalSharp', cursive;
    margin-bottom: 20px;
}

.spot-name-place > p {
    text-decoration: underline;
    font-size: 16px;
    /* color: #010466d4; */
    color: #0107b3cf;
    font-weight: 500;
}

.spot-details {
    /* border: 1px dashed red; */
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b3900295;
}

.description-text {
    /* border: 2px solid orange; */
    width: 62%;
    margin-right: 10px;
    /* justify-content: space-between; */
}

.description-text > h2 {
    /* font-family: 'MedievalSharp', cursive; */
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
    /* color: #5b4900 */
}

.description-p-room > p {
    margin-bottom: 10px;
    font-size: 14px;
    /* border: 1px solid purple; */
    overflow-wrap: break-word;
    /* color: #010466d4 */
    /* color: #0107b3; */
    color: #010466;
    /* font-weight: 400; */
    /* color: black; */
}

.description-p-room {
    /* border: 3px solid green; */
    height: stretch;
}

.spot-description {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* width: 600px; */
}

.description-reserve-box {
    border: 1px solid #b3900220;
    box-shadow: 1px 2px 8px #b3900247;
    border-radius: 10px;
    padding: 22px 15px;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: #665200;
    background-color: #b390021e;
}

.description-box-star-rating {
    /* border: 1px dashed black; */
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#night,
#star {
    margin-left: 5px;
}

#review {
    margin-left: 10px;
}

.description-box-star-rating > i {
    margin-left: 55px;
}

.description-box-star-rating > h3 {
    font-weight: 500;
    font-size: 20px;
}

.description-box-star-rating > span {
    font-size: 14px;
}

/* .spot-reviews {
    border: 3px solid teal;
} */

.spot-reviews > p {
    margin-top: 40px;
    /* color: #010466d4; */
    color: #0107b3cf;
}

.spot-rating-header {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

#star-two {
    margin-left: 5px;
}

#reviews-two {
    margin-left: 20px;
}

.reserve-button {
    padding: 10px;
    background-color: #b3900280;
    border: 1px solid #665200;
    font-size: 18px;
    box-shadow: 3px 2px 0 #665200;
    border: 1px solid #665200;
    font-family: 'MedievalSharp', cursive;
}

.reserve-button:hover {
    cursor: pointer;
    background-color: #b3900295;
}

.images-house {
    /* border: 3px solid blue; */
    height: 400px;
    margin-bottom: 20px;
    display: flex;
}

/* .images-house > img {
    width: 300px;
} */

.preview {
    margin-right: 5px;
    /* border: 5px solid red; */
    width: 50%;
    height: 100%;
}

.preview > img {
    object-fit: cover;
    /* width: 50%; */
    height: stretch;
    width: stretch;
    border-radius: 10px;
}

.plain-janes {
    width: 50%;
    height: 100%;
    object-fit: cover;
    /* border: 3px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2px;
}

.plain-janes > img {
    /* width: 50%; */
    width: 49%;
    height: 49%;
    /* height: stretch; */
    object-fit: cover;
    margin: 1px;
    border-radius: 10px;
}

.review-name {
    margin-bottom: 5px;
    font-size: 16px;
}

.review-date {
    margin-bottom: 10px;
    font-size: 14px;
    color:#0104667e
}

.review-text {
    font-size: 14px;
}

.single-review {
    margin-bottom: 40px;
}

.spot-reviews {
    /* border: 1px solid blue; */
    margin-bottom: 100px;
}

.spot-reviews > button {
    /* border: 2px solid purple; */
    box-shadow: 3px 2px 0 #665200;
    border: 1px solid #665200;
    background-color: #b3900280;
    padding: 5px 5px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    margin-bottom: 30px;
    width: fit-content;
    /* font-weight: 500; */
}

.spot-reviews > button:hover,
.single-review > button:hover {
    background-color: #b3900295;
}

.single-review > button {
    box-shadow: 3px 2px 0 #665200;
    border: 1px solid #665200;
    background-color: #b3900280;
    padding: 5px 5px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    width: fit-content;
    margin-top: 10px;
}
