.spot-details-house {
    /* border: 3px solid green; */
    margin: 20px 80px;
    font-family: 'Montserrat', sans-serif;
    color: #010466;
}

.spot-name-place > h1 {
    font-size: 35px;
}
.spot-name-place > h1,
.spot-name-place > p {
    font-family: 'MedievalSharp', cursive;
    margin-bottom: 20px;
}

.spot-name-place > p {
    text-decoration: underline;
    font-size: 16px;
}

.spot-details {
    /* border: 1px dashed red; */
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b3900295;
}

.description-text > h2 {
    /* font-family: 'MedievalSharp', cursive; */
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
}

.description-text > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.spot-description {
    display: flex;
    justify-content: space-between;
}

.description-reserve-box {
    border: 1px solid #b3900220;
    box-shadow: 1px 2px 8px #b3900247;
    border-radius: 10px;
    padding: 22px 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #665200;
    background-color: #b3900216;
}

.description-box-star-rating {
    /* border: 1px dashed black; */
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#night,
#star {
    margin-left: 5px;
}

#review {
    margin-left: 10px;
}

.description-box-star-rating > i {
    margin-left: 55px;
}

.description-box-star-rating > h3 {
    font-weight: 500;
    font-size: 20px;
}

.description-box-star-rating > span {
    font-size: 14px;
}

/* .spot-reviews {
    border: 3px solid teal;
} */

.spot-reviews > p {
    border: 1px solid blue;
    margin: 20px 0;
    padding: 300px 100px;
}

.spot-rating-header {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

#star-two {
    margin-left: 5px;
}

#reviews-two {
    margin-left: 20px;
}

.reserve-button {
    padding: 10px;
    background-color: #b3900280;
    border: 1px solid #665200;
    font-size: 18px;
    box-shadow: 3px 2px 0 #665200;
    border: 1px solid #665200;
    font-family: 'MedievalSharp', cursive;
}

.reserve-button:hover {
    cursor: pointer;
}

.images-house {
    border: 1px solid blue;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
}

/* .images-house > img {
    width: 300px;
} */

.preview {
    width: 445px;
    height: stretch;
    object-fit: cover;
    margin-right: 5px;
}

.plain-janes {
    width: 210px;
    height: 50%;
    object-fit: cover;
}

.spot-rating-header {
    margin-bottom: 30px;
}

.review-name {
    margin-bottom: 5px;
    font-size: 16px;
}

.review-date {
    margin-bottom: 10px;
    font-size: 14px;
    color:#0104667e
}

.review-text {
    font-size: 14px;
}

.single-review {
    margin-bottom: 40px;
}

.spot-reviews {
    /* border: 1px solid blue; */
    margin-bottom: 100px;
}
