.delete-modal {
    /* border: 2px solid pink; */
    padding: 20px 25px;
    border-radius: 20px;
    box-shadow: 0 3px 7px #010466;
    background-color: #1c24ff08;
}

.delete-modal > h1 {
    font-family: 'MedievalSharp', cursive;
    color: #010466;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 500;
}

.delete-modal > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #010466;
    padding-bottom: 30px;
}

.delete-modal-button-house {
    display: flex;
    flex-direction: column;
}

#yes-button {
    margin-bottom: 10px;
    background-color: #b390028f;
}

#no-button {
    background-color: #b390023c;
}

.delete-modal-buttons {
    padding: 14px 0;
    font-family: 'MedievalSharp', cursive;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 3px 2px 0 #665200;
    border: 1px solid #665200;
}

.delete-modal-buttons:hover {
    cursor: pointer;
}
