.manage-buttons {
    /* border: 2px solid purple; */
    margin: 10px 10px;
    width: fit-content;
    display: flex;
}

#edit {
    box-shadow: 3px 2px 0 #665200;
    border: 1px solid #665200;
    background-color: #b3900259;
    padding: 5px 5px;
    /* width: fit-content; */
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    /* color: #010466; */
}

#edit:hover,
button#delete:hover {
    cursor: pointer;
}

#delete {
    border: 1px solid red;
}

.manage-spots-house > h1 {
    font-family: 'MedievalSharp', cursive;
    color: #010466;
    margin: 10px 72px;
    margin-top: 25px;
}

.manage-spots-button {
    margin: 0 72px;
    margin-top: 30px;
    margin-bottom: 5px;
    box-shadow: 3px 2px 0 #01046674;
    border: 2px solid #1c24ff3d;
    background-color: #f2f2ff8d;
    padding: 5px 5px;
    /* width: fit-content; */
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #010466;
}

.manage-spots-button:hover {
    cursor: pointer;
}
