.spot-room {
    /* border: 3px solid red; */
    height: fit-content;
    margin: 20px 12px;
    /* width: stretch; */
}

.spot-room:hover {
    cursor: pointer;
}

.spot-room > img {
    width: 275px;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
}

.spots-house {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 55px;
    font-family: 'Montserrat', sans-serif;
    color: #010466;
    font-size: 14px;
    margin-bottom: 100px;
}

.spot-city-rating {
    display: flex;
    justify-content: space-between;
    width: stretch;
    /* border: 1px dashed green; */
    margin: 8px 0 12px 0;
    border: 1px solid blue;
}

.spot-star-rating > i {
    margin-right: 5px;
}

.spot-price {
    font-weight: 600;
}

.spot-city {
    font-size: 14px;
    border: 1px solid red;
    /* margin-right: 5px; */
    width: 75%;
    overflow-wrap: break-word;
}
