/* ;-; */
.signup-house > h1,
.box-label,
.nice-button {
    font-family: 'MedievalSharp', cursive;
}

div.signup-house > h1 {
    font-family: 'MedievalSharp', cursive;
    color: #010466;
    margin-bottom: 10px;
    padding: 0 90px 20px 90px;
    border-bottom: 1px solid #010466;
}

div.signup-house {
    border-radius: 20px;
    box-shadow: 0 3px 7px #010466;
    background-color: #1c24ff08;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 120px;
}
