/* i am here for you :) */
div.login-house {
    border: 1px solid #010466;
    border-radius: 30px;
    box-shadow: 0 3px 7px #010466;
    background-color: #1c24ff08;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    margin: 70px 200px;
    padding: 80px 120px;
}

div.login-house > h1 {
    font-family: 'MedievalSharp', cursive;
    color: #010466;
    margin-bottom: 10px;
    padding: 0 105px 20px 105px;
    border-bottom: 1px solid #010466;
}
