/* i am here for you :) */
div.login-house {
    border: 1px solid #010466;
    border-radius: 30px;
    box-shadow: 0 3px 7px #010466;
    background-color: #1c24ff08;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    margin: 70px 200px;
    padding: 80px 120px;
}

div.login-house > h1 {
    font-family: 'MedievalSharp', cursive;
    color: #010466;
    margin-bottom: 10px;
    padding: 0 105px 20px 105px;
    border-bottom: 1px solid #010466;
}

label.box-label,
button.nice-button {
    /* border: 3px solid green; */
    margin: 20px;
    display: flex;
    flex-direction: column;
}

label.box-label {
    font-size: 18px;
    color: #010466;
    margin: 40px 20px;
}

input {
    border: .8px solid #0108B3;
    height: 25px;
    background-color: white;
}

button.nice-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #b3900280;
    border: .5px solid #665200;
    border-radius: 20px;
    font-size: 20px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 0;
}

button.nice-button:hover {
    box-shadow: 1px 1px 0 #665200;
    border: 1px solid #665200;
    background-color: #b390029f;
    cursor: pointer;
}

p.display-errors {
    color: #B37414;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    padding-left: 20px;
    /* border: 1px solid red; */
}
