/* i am here for you :) */
div.login-house {
    border-radius: 20px;
    box-shadow: 0 3px 7px #010466;
    background-color: #1c24ff08;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 70px 400px; */
    padding: 50px 120px;
}

div.login-house > h1 {
    font-family: 'MedievalSharp', cursive;
    color: #010466;
    margin-bottom: 10px;
    padding: 0 105px 20px 105px;
    border-bottom: 1px solid #010466;
}

.demo-user-link {
    color: #010466;
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.demo-user-link:hover {
    cursor: pointer;
    font-weight: bold;
}
