#post {
    font-family: 'Montserrat', sans-serif;
    color: #010466;
    /* border: 1px dashed black; */
    display: flex;
    flex-direction: column;
    padding: 20px 290px;
}

.form-input-fields {
    padding: 15px 0;
    /* border: 1px solid red; */
}

#post > h1 {
    font-weight: 500;
    font-family: 'MedievalSharp', cursive;
    font-size: 35px;
}

.form-where > h2,
.form-description > h2,
.form-title > h2,
.form-price > h2,
.form-images > h2 {
    font-weight: 500;
    /* font-family: 'MedievalSharp', cursive; */
    font-size: 20px;
    margin-bottom: 5px;
}

.form-where > p,
.form-description > p,
.form-title > p,
.form-price > p,
.form-images > p {
    font-size: 14px;
    margin-bottom: 15px;
}

.form-where > label,
.form-city-state > label,
.form-lat-lng > label {
    /* font-family: 'MedievalSharp', cursive; */
    font-size: 14px;
    /* font-weight: 500; */
    margin-bottom: 10px;
    color: #665200;
}

.form-where {
    display: flex;
    flex-direction: column;
}

.form-where > label > input {
    width: stretch;
    border: 2px solid #010466;
    background-color: #b390023b;
}

#state,
#lng {
    margin-left: 15px;
}

#state > input,
#lat > input,
#lng > input {
    width: 100%;
    border: 2px solid #010466;
    background-color: #b390023b;
}

#city > input {
    width: 132%;
    border: 2px solid #010466;
    background-color: #b390023b;
}

.form-city-state,
.form-lat-lng {
    display: flex;
    justify-content: space-between;
}

.form-lat-lng {
    border-bottom: 1px solid #b3900295;
    padding-bottom: 10px;
}

.form-description > h2,
.form-title > h2,
.form-price > h2,
.form-images > h2 {
    margin-top: 20px;
}

.form-description > label > textarea {
    width: stretch;
    height: 150px;
    background-color: #b390023b;
    border: 2px solid #010466;
}

.form-description,
.form-title,
.form-price {
    border-bottom: 1px solid #b3900295;
    padding-bottom: 20px;
}

.form-title > label > input {
    width: stretch;
    background-color: #b390023b;
    border: 2px solid #010466;
}

.form-price > label > input {
    width: 95%;
    margin-left: 5px;
    background-color: #b390023b;
    border: 2px solid #010466;
}

.form-images > label > input {
    display: flex;
    width: stretch;
    margin-bottom: 25px;
    background-color: #b390023b;
    border: 2px solid #010466;
}

.form-button-house {
    border-top: 1px solid #b3900295;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.form-button-house > button {
    margin-top: 25px;
    width: 40%;
    box-shadow: 3px 2px 0 #665200;
    border: 1px solid #665200;
    background-color: #b3900280;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'MedievalSharp', cursive;
    font-weight: 500;
}

.form-button-house > button:hover {
    cursor: pointer;
}
