/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

div#root {
    margin: 0;
    padding: 0;
    /* background-color: whitesmoke; */
    /* display: flex; */
    /* flex-direction: column; */
}

* {
    box-sizing: border-box;
    margin: 0;
    /* font-family:'Courier New', Courier, monospace; */
}


/* signup and login form styling ----------------------> */
p.display-errors {
    color: #B37414;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    padding-left: 20px;
    /* border: 1px solid red; */
}

button.nice-button {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: #b3900280;
    border: 1px solid #665200;
    /* border-radius: 20px; */
    font-size: 18px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 0;
    box-shadow: 3px 2px 0 #665200;
    border: 1px solid #665200;
}

button.nice-button.hover-off:hover {
    cursor: not-allowed;
    /* specificity is a curse */
}


button.nice-button:hover {
    cursor: pointer;
}

label.box-label,
button.nice-button {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

label.box-label {
    font-size: 16px;
    color: #010466;
    margin: 40px 20px;
}

input {
    border: .8px solid #0108B3;
    height: 25px;
    background-color: white;
}
