/* TODO Add site wide styles */
div#root {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
}

* {
    box-sizing: border-box;
    margin: 0;
    /* font-family:'Courier New', Courier, monospace; */
}
