/* ;-; */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.signup-house > h1,
.box-label,
.nice-button {
    font-family: 'MedievalSharp', cursive;
}

div.signup-house > h1 {
    margin-bottom: 20px;
    padding: 0 90px 20px 90px;
    border-bottom: 1px solid black;
}

div.signup-house {
    border: 1px solid maroon;
    border-radius: 30px;
    box-shadow: 0 3px 8px maroon;
    background-color: rgb(255, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
    padding: 80px 120px;
    width: fit-content;
}

button.nice-button {
    font-size: 20px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 0;
}
