ul.list-house,
ul.profile-dropdown {
    list-style: none;
}

ul.list-house {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

ul.list-house > li {
    /* border: 1px solid red; */
    padding: 20px;
}

button.logout-button {
    padding: 12px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #010466;
}

button.profile-button {
    padding: 12px;
    margin: 10px 50px 0 50px;
    border: .5px solid #010466;
    border-radius: 25px;
}

button.profile-button:hover,
button.logout-button:hover {
    cursor: pointer;
    border: 2px solid #010466;
}

.hidden {
    display: none;
}

.profile-dropdown {
    border: 2px solid #010466;
    padding: 0;
    width: stretch;
}

.list-house > li.drop-down-content {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 0;
    width: 150px;
}

.drop-down-user-info {
    /* border: 1px solid red; */
    padding-bottom: 10px;
    margin: 10px;
    border-bottom: 1px solid #010466;
}
