ul.list-house,
ul.profile-dropdown {
    list-style: none;
}

.header-house {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    justify-content: space-between;
    /* background-color: #b390020f; */
    border-bottom: 1px solid #b3900295;
}

.list-house {
    padding: 0;
}

ul.list-house > li {
    /* border: 1px solid red; */
    padding: 20px;
}

button.logout-button {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #1c24ff3d;
    font-family: 'Montserrat', sans-serif;
}

.logout-button:hover {
    background-color: #1c24ff16;
}

button.profile-button {
    padding: 12px;
    margin: 15px 50px 10px 50px;
    border: .5px solid #1c24ff3d;
    border-radius: 25px;
}

button.profile-button:hover {
    box-shadow: -1px 3px 2px #1c24ff3d;
}

button.profile-button:hover,
button.logout-button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.profile-dropdown {
    /* border: 1px solid #010466; */
    border-radius: 10px;
    box-shadow: 1px 2px 8px #1c24ff4b;
    padding: 0;
    width: stretch;
    background-color: #1c24ff08;
    margin-right: 5px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.profile-dropdown > li {
    display: flex;
    justify-content: center;
}

.profile-dropdown > li > button {
    font-family: 'Montserrat', sans-serif;
    color: #010466;
}

.list-house > li.drop-down-content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 0;
    width: 150px;
}

.drop-down-user-info {
    /* border: 1px solid red; */
    padding-bottom: 10px;
    margin: 10px;
    border-bottom: 1px solid #01046689;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding-left: 15px;
}

.dropdown-user-greeting {
    margin-bottom: 5px;
}

.logo-icon {
    /* border: 2px solid red; */
    text-decoration: none;
    color: #010466;
    height: fit-content;
    padding: 10px;
    margin: 20px 0 20px 20px;
}

.logo-house {
    display: flex;
}

.logo-buddy {
    margin-top: 35px;
    font-family: 'MedievalSharp', cursive;
    color: #010466;
    font-size: 18px;
    text-decoration: none;
}
